@import "tailwindcss";

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url("/fonts/ProximaNovaRegular.otf") format('opentype');
}

@font-face {
  font-family: ProximaNovaLight;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/ProximaNovaLight.otf") format('opentype');
}

@font-face {
  font-family: ProximaNovaBold;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ProximaNovaBold.otf") format('opentype');
}

@font-face {
  font-family: AppleChancery;
  font-style: normal;
  src: url("/fonts/AppleChancery.ttf") format('truetype');
}

@theme {
  --font-proxima: 'ProximaNova', sans-serif;
  --font-proxima-light: 'ProximaNovaLight', sans-serif;
  --font-proxima-bold: 'ProximaNovaBold', sans-serif;
  --font-signature: 'AppleChancery', cursive;
}

:root {
  --bg-dark: oklch(0.92 0.04 264);
  --bg: oklch(0.96 0.04 264);
  --bg-light: oklch(1 0.04 264);
  --text: oklch(0.15 0.08 264);
  --text-muted: oklch(0.4 0.08 264);
  --highlight: oklch(1 0.08 264);
  --border: oklch(60.088% 0.08035 264.052 / 0.509);
  --border-muted: oklch(0.7 0.08 264);
  --primary: oklch(0.4 0.1 264);
  --secondary: oklch(0.4 0.1 84);
  --danger: oklch(0.5 0.08 30);
  --warning: oklch(0.5 0.08 100);
  --success: oklch(0.5 0.08 160);
  --info: oklch(0.5 0.08 260);
  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--font-proxima);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
